{% extends "base.html" %}

{% block content %}
<div class="row" style="padding-top: 15%;">
  <div class="small-6 medium-centered columns">
    <form class="panel radius">
      <fieldset>
        <legend>MMB Digital Classroom</legend>
    
        <label>Username
          <input type="text" placeholder="username">
        </label>
        <label>Password
          <input type="password" placeholder="password">
        </label>
        <div class="text-right">
          <button>Login</button>
        </div>
      </fieldset>
  </form>
  </div>
</div>
  
{%- endblock %}
